@inject IBlogService Service

<Loader OnLoad="@OnLoad">
    <div class="card border-0">
        <div class="card-body">
            <div class="card-title d-flex flex-row mb-1">
                <h4>
                    <a href="categories/@CategoryId" style="color:black">
                        <span>@Category.Name</span>
                    </a>
                </h4>
            </div>
        </div>
    </div>
</Loader>

@code {
    [Parameter]
    public string CategoryId { get; set; }

    private Category Category { get; set; }

    private async Task OnLoad()
    {
        Category = null;

        Category = await Service.CategoryService.Get(CategoryId);
    }
}
