<div class="d-flex flex-row justify-content-between alert alert-warning mdi mdi-alert" role="alert">
    <span>@Message</span>
    
</div>

@code {
    [Parameter]
    public string Message { get; set; } = "Loading failed.";

    [Parameter]
    public EventCallback OnReload { get; set; }
}
