@page "/"
@model AcBlog.Client.WebAssembly.Host.Pages.HostModel
@using AcBlog.Client.WebAssembly
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@Model.Title</title>
    <base href="~/" />
    <link rel="icon" href="icon.png" />
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="lib/mdi/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="lib/markdown-css/github-markdown.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="_content/AcBlog.Client.Components.Loading/component.css" rel="stylesheet" />
    <link href="_content/AcBlog.Client.Components.Markdown/highlight.js/github.css" rel="stylesheet" />
    <link href="_content/AcBlog.Client.Components.Markdown/katex/katex.min.css" rel="stylesheet" />
    <link href="manifest.json" rel="manifest" />
    <link rel="apple-touch-icon" sizes="512x512" href="icon.png" />

    <script src="js/interop.js"></script>
</head>

<body>
    <app>
        @if (!HttpContext.Request.Path.StartsWithSegments("/authentication"))
        {
            <component type="typeof(App)" render-mode="Static" />
        }
        else
        {
            <div class="loading loading1" style="margin: auto; bottom: 0; right:0; left: 0; top: 0; position: fixed">
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </app>
    <div id="loading-info-ui" class="alert alert-info mdi mdi-information" style="display: block;">
        Loading application...
    </div>
    <div id="blazor-error-ui" class="alert alert-danger mdi mdi-alert" role="alert">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.webassembly.js" autostart="true"></script>
    <script>navigator.serviceWorker.register('service-worker.js');</script>

    <script src="_content/Microsoft.AspNetCore.Components.WebAssembly.Authentication/AuthenticationService.js"></script>

    <script src="lib/jquery/jquery.slim.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="_content/AcBlog.Client.Components.Markdown/component-min.js"></script>

    <script src="lib/monaco-editor/vs/loader.js"></script>
    <script>
        require.config({ paths: { 'vs': 'lib/monaco-editor/vs' } });
    </script>
    <script src="_content/AcBlog.Client.Components.CodeEditor/component-min.js"></script>
</body>

</html>