@page "/authentication/{action}"
@inherits BasePage
@inject IdentityProvider IdentityProvider

@if (IdentityProvider.Enable)
{
    <CustomRemoteAuthenticatorView Action="@Action">
        <LogOutSucceeded>
            <RedirectTo Target=""/>
        </LogOutSucceeded>
    </CustomRemoteAuthenticatorView>
}
else
{
    <p>Identity is not enabled.</p>
}

@code{
    [Parameter]
    public string Action { get; set; }
}
