@page "/keywords"
@inherits BaseKeywordPage

<Microsoft.AspNetCore.Components.Web.Extensions.Head.Title Value="@Title"></Microsoft.AspNetCore.Components.Web.Extensions.Head.Title>

<PageHeader>
    <PageHeaderTitle>Keywords</PageHeaderTitle>
    <PageHeaderBreadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>
                <a href="">
                    <MdiIcon Type="home" />
                    <span>Home</span>
                </a>
            </BreadcrumbItem>
            <BreadcrumbItem>
                <span>
                    <MdiIcon Type="tag-multiple" />
                    <span>Keywords</span>
                </span>
            </BreadcrumbItem>
        </Breadcrumb>
    </PageHeaderBreadcrumb>
</PageHeader>

<div class="container">
    <Loader OnLoad="@OnLoad" @ref="loader">
        <div>
            @foreach(var v in Data.Items)
            {
                <Tag Class="m-1">
                    <a class="m-1" style="font-size: 18px" href="@UrlGenerator.Keyword(v)">@v.OneNameOrDefault()</a>
                </Tag>
            }
        </div>
    </Loader>
</div>

@code {
    private KeywordCollection Data;

    private Loader loader;

    private async Task OnLoad()
    {
        Data = await Service.PostService.GetKeywords();
    }
}
