@inherits LayoutComponentBase
@inject BlogSettings BlogSettings

@Body

<footer class="border-top footer text-muted">
    <div class="container-fluid">
        <i class="mdi mdi-copyright"></i> 2020 - @BlogSettings.Name - <a href="https://github.com/acblog/acblog"><i class="mdi mdi-github"></i></a>
    </div>
</footer>
