@inherits LayoutComponentBase
@layout BaseLayout
@inject BlogSettings BlogSettings

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                @BlogSettings.Name
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link mdi mdi-home" href="" Match="NavLinkMatch.All">Home</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link mdi mdi-archive" href="posts" Match="NavLinkMatch.Prefix">Posts</NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid mt-3">
    <main role="main" class="pb-1 pt-1">
        @Body
    </main>
</div>
