@import "mdi.css";

html {
    position: relative;
    min-height: 100%;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#loading-info-ui {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    margin-bottom: 0;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    margin-bottom: 0;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}