@page "/posts/{id}"
@inject IBlogService Service
@using AcBlog.Client.Components.Markdown

@if (Post == null)
{
    <Loader></Loader>
}
else
{
    <div class="d-flex flex-row">
        <h1 class="display-4">@Post.Title</h1>
    </div>
    <PostMetadataDisplay Value="@Post" />
    <MarkdownRenderer Value="@Post.Content" />
}

@code {
    [Parameter]
    public string Id { get; set; }

    private Post Post { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Post = await Service.PostService.Get(Id);
    }
}