@page "/"
@layout BaseLayout
@inherits BasePage

<div class="jumbotron jumbotron-fluid p-0" style="background-image: url(@BlogSettings.IndexBackgroundUrl); background-size: 100% 100%;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="height: 100vh;">
            <div class="d-flex flex-row mx-auto p-5" style="background-color: #f0f8ffeb; border-radius: 20px;">
                <img src="@BlogSettings.IndexIconUrl" width="256" height="256" class="mx-auto" style="border-radius: 20px;"/>
                <div class="d-flex flex-column justify-content-center ml-5">
                    <h1 class="display-4 text-center mt-3 pb-4 border-bottom" style="min-width: 400px">@BlogSettings.Name</h1>
                    <p class="lead text-center">@BlogSettings.Description</p>
                    <div class="btn-group-toggle btn-group-lg mt-3 mx-auto" role="group">
                        <a class="btn btn-outline-primary mdi mdi-feather" href="articles">Articles</a>
                        <a class="btn btn-outline-warning mdi mdi-presentation" href="slides">Slides</a>
                        <a class="btn btn-outline-success mdi mdi-file-document" href="notes">Notes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
}