<span class="itemdisplay">
    <span class="mdi @(Ids.Count == 1 ? "mdi-tag" : "mdi-tag-multiple")">
        @foreach (var key in Ids)
        {
            <KeywordDisplay Id="@key" /><span>;</span>
        }
    </span>
</span>

@code {
    [Parameter]
    public ICollection<string> Ids { get; set; }
}
