@inject IBlogService Service

<Loader OnLoad="@OnLoad" UseSpin="true">
    <a href="keywords/@Id" style="color: inherit;">@Keyword.Name</a>
</Loader>

@code {
    [Parameter]
    public string Id { get; set; }

    private Keyword Keyword { get; set; }

    private async Task OnLoad()
    {
        Keyword = null;

        Keyword = await Service.KeywordService.Get(Id);
    }
}
