
<div class="loading @TypeClass">
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Type { get; set; } = 1;

    private string TypeClass { get; set; }

    protected override void OnParametersSet()
    {
        TypeClass = $"loading{Math.Max(1, Math.Min(4, Type))}";
    }
}
