@inject IBlogService Service
@inject IClientUriGenerator UrlGenerator

<span class="itemdisplay">
    <span class="mdi @(Data.Items.Count() is 1 ? "mdi-tag" : "mdi-tag-multiple")">
        @foreach (var key in Data.Items)
        {
            <a href="@UrlGenerator.Keyword(new Keyword { Items = new string[] { key } }))" style="color: inherit;">@key</a>
            <span>;</span>
        }
    </span>
</span>


@code {
    [Parameter]
    public Keyword Data { get; set; }
}
