@inject IJSRuntime JSRuntime

<div @ref="codeEditor"></div>

@code {
    [Parameter]
    public string Value { get; set; }

    private ElementReference codeEditor;

    [JSInvokable]
    public string GetValue()
    {
        return Value;
    }

    [JSInvokable]
    public void SetValue(string value)
    {
        Value = value;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("AcBlogClientComponentsCodeEditor_createCodeEditor", codeEditor, DotNetObjectReference.Create(this));
        await base.OnAfterRenderAsync(firstRender);
    }

    // Disable auto update
    protected override bool ShouldRender()
    {
        return false;
    }
}
