@inject IBlogService Service

@if (Post == null)
{
    <Loader></Loader>
}
else
{
    <div class="card border-0">
        <div class="card-body">
            <div class="card-title d-flex flex-row mb-1">
                <h4>
                    <a href="posts/@Post.Id" style="color:black">
                        @if (IsProtected)
                        {
                            <span>Protected Post</span>
                        }
                        else
                        {
                            <span>@Post.Title</span>
                        }
                    </a>
                </h4>
            </div>

            @if (!IsProtected)
            {
                <div class="card-subtitle mb-2">
                    <PostMetadataDisplay Value="@Post" />
                </div>

                <p class="card-text mb-1">
                    <AcBlog.Client.WASM.Components.Displays.TextClipperDisplay Value="@Post.Content"></AcBlog.Client.WASM.Components.Displays.TextClipperDisplay>
                </p>
            }
            <a href="posts/@Post.Id" class="card-link" style="color: #555; border-bottom: 1px solid #666;">Read more</a>
        </div>
    </div>
}

@code {
    [Parameter]
    public string PostId { get; set; }

    private Post Post { get; set; }

    private bool IsProtected { get; set; } = false;

    protected override async Task OnParametersSetAsync()
    {
        Post = null;
        IsProtected = false;

        Post = await Service.PostService.Get(PostId);
        IsProtected = await Service.PostService.Protector.IsProtected(Post);
    }
}
