<span>@Preview</span>

@code {
    [Parameter]
    public Document Document { get; set; }

    private string Preview { get; set; } = string.Empty;

    // static MarkdownPipeline Pipeline { get; } = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();

    protected override void OnParametersSet()
    {
        if (Document is not null)
        {
            Preview = Document.GetPreview(1000);
        }
        base.OnParametersSet();
    }
}
