@inject IBlogService Service

<span class="itemdisplay">
    <span class="mdi mdi-folder">
        <a href="categories/@HttpUtility.UrlEncode(Data.ToString())" style="color: inherit;">@Data.ToString()</a>
    </span>
</span>

@code {
    [Parameter]
    public Category Data { get; set; }
}
