<span class="itemdisplay">
    <i class="mdi mdi-calendar"></i>
    <time datetime="@CreationTime"
          title="@(string.Format("Creation time: {0} / Modification time: {1}", CreationTime.ToString("yyyy-MM-dd HH:mm:ss"), ModificationTime.ToString("yyyy-MM-dd HH:mm:ss")))">
        @CreationTime.ToFriendlyString()
    </time>
</span>

@code {
    [Parameter]
    public DateTimeOffset CreationTime { get; set; }

    [Parameter]
    public DateTimeOffset ModificationTime { get; set; }
}
